/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/header/index.css ***!
  \*******************************************************************************/
.header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 66px;
    border-bottom: 1.5px solid rgba(191, 191, 191, 0.31);
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(191, 191, 191, 0.31);
}

.header-web-lgo {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.434) ;
}

.header-web-title {
    font-size: 30px;
    font-family: 'CommonPixel', sans-serif;
    padding-left: 25px;
}
/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/panel-component/copy-right/index.css ***!
  \*********************************************************************************************************/
.panel-copyright {
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
    font-family: 'CommonPixel', sans-serif;
    font-size: 5px;
}
/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/panel-component/sleeper-creator/index.css ***!
  \**************************************************************************************************************/
.panel-sleeper-color,
.panel-border-color {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 5px 20px 5px 20px;
}

.panel-sleeper-name,
.panel-border-name {
    font-size: 23px;
    font-family: 'CommonPixel', sans-serif;
}

.panel-sleeper-example,
.panel-border-example {
    font-size: 30px;
}

.panel-sleeper-example,
.panel-border-example:hover {
    cursor: pointer;
}

.panel-color-picker {
    position: fixed;
    top: 20px;
    z-index: 1;
}

.panel-create-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'CommonPixel', sans-serif;
}
/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/panel-component/number-weight/index.css ***!
  \************************************************************************************************************/
.panel-cascade-probability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 10px;
}

.panel-cascade-name {
    font-family: 'CommonPixel', sans-serif;
    margin-left: -20px;
    margin-right: 10px;
}
/*!******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/panel-component/swicher/index.css ***!
  \******************************************************************************************************/
.panel-swicher {
    margin-top: 10px;
    font-family: 'CommonPixel', sans-serif;
}
/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/panel-component/start-pause/index.css ***!
  \**********************************************************************************************************/
.panel-start-pause-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
}

.panel-start-pause-name {
    margin-top: 30px;
    font-size: 60px;
    height: 60px;
    border-radius: 1000px;
}

.panel-start-pause-name:hover {
    cursor: pointer;
    animation-name: startIcon;
    animation-duration: 0.5s;
}

@keyframes startIcon {
    0% {
        font-size: 60px;
    }

    70% {
        font-size: 80px;
    }

    100% {
        font-size: 60px;
    }
}

.panel-start-pause-reset {
    margin-left: auto;
    font-family: 'CommonPixel', sans-serif;
    margin-right: 12px;
    margin-top: 7px;
}


/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/panel/index.css ***!
  \******************************************************************************/
.panel-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0px 8px 10px rgba(58, 58, 58, 0.5);
    border-radius: 10px;
}

.panel-short-sperate-line {
    background-color: rgba(208, 208, 208, 0.5);
    width: 250px;
    height: 1px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.249);
    border-radius: 2px;
}

.panel-long-sperate-line {
    background-color: rgba(208, 208, 208, 0.5);
    width: 300px;
    height: 1px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.249);
    border-radius: 2px;
}
/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/right-click-designer/click-panel/index.css ***!
  \*********************************************************************************************************/
.right-click-designer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-click-designer-content:hover {
    cursor: pointer;
}

.right-click-designer-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.right-click-designer-selection:hover {
    background-color: rgba(197, 206, 213, 0.475);
}
/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/right-click-designer/index.css ***!
  \*********************************************************************************************/
.right-click-designer-wrap {
    position: absolute;
    width: 200px;
    background-color: rgb(239, 244, 247);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.319);
    padding-top: 5px;
    padding-bottom: 5px;
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/others/index.css ***!
  \************************************************************************/
@font-face {
    font-family: "iconfont"; /* Project id 2560101 */
    src: url(33a1b5e8a2a6a3e39406.woff2) format('woff2'),
         url(5aaa477054fde9becbee.woff) format('woff'),
         url(6af43c73a14ef6786054.ttf) format('truetype');
}

@font-face {
    font-family: 'CommonPixel';
    src: url(f90ced094fb66c0feb12.TTF) format('woff');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib3RoZXJzLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLGtCQUFrQjtJQUNsQixhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLFlBQVk7SUFDWixvREFBb0Q7SUFDcEQsNEJBQTRCO0lBQzVCLHNCQUFzQjtJQUN0QixrREFBa0Q7QUFDdEQ7O0FBRUE7SUFDSSxXQUFXO0lBQ1gsWUFBWTtJQUNaLGtCQUFrQjtJQUNsQixpREFBaUQ7QUFDckQ7O0FBRUE7SUFDSSxlQUFlO0lBQ2Ysc0NBQXNDO0lBQ3RDLGtCQUFrQjtBQUN0QixDOzs7O0FDdEJBO0lBQ0ksa0JBQWtCO0lBQ2xCLGdCQUFnQjtJQUNoQixrQkFBa0I7SUFDbEIsc0NBQXNDO0lBQ3RDLGNBQWM7QUFDbEIsQzs7OztBQ05BOztJQUVJLHNCQUFzQjtJQUN0QixhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLDhCQUE4QjtJQUM5QixZQUFZO0lBQ1osMEJBQTBCO0FBQzlCOztBQUVBOztJQUVJLGVBQWU7SUFDZixzQ0FBc0M7QUFDMUM7O0FBRUE7O0lBRUksZUFBZTtBQUNuQjs7QUFFQTs7SUFFSSxlQUFlO0FBQ25COztBQUVBO0lBQ0ksZUFBZTtJQUNmLFNBQVM7SUFDVCxVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxhQUFhO0lBQ2Isc0JBQXNCO0lBQ3RCLG1CQUFtQjtJQUNuQixrQkFBa0I7SUFDbEIsc0NBQXNDO0FBQzFDLEM7Ozs7QUN0Q0E7SUFDSSxhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLDhCQUE4QjtJQUM5QixzQkFBc0I7SUFDdEIsZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksc0NBQXNDO0lBQ3RDLGtCQUFrQjtJQUNsQixrQkFBa0I7QUFDdEIsQzs7OztBQ1pBO0lBQ0ksZ0JBQWdCO0lBQ2hCLHNDQUFzQztBQUMxQyxDOzs7O0FDSEE7SUFDSSxhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLHNCQUFzQjtJQUN0QixZQUFZO0lBQ1osc0JBQXNCO0FBQzFCOztBQUVBO0lBQ0ksZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixZQUFZO0lBQ1oscUJBQXFCO0FBQ3pCOztBQUVBO0lBQ0ksZUFBZTtJQUNmLHlCQUF5QjtJQUN6Qix3QkFBd0I7QUFDNUI7O0FBRUE7SUFDSTtRQUNJLGVBQWU7SUFDbkI7O0lBRUE7UUFDSSxlQUFlO0lBQ25COztJQUVBO1FBQ0ksZUFBZTtJQUNuQjtBQUNKOztBQUVBO0lBQ0ksaUJBQWlCO0lBQ2pCLHNDQUFzQztJQUN0QyxrQkFBa0I7SUFDbEIsZUFBZTtBQUNuQjs7Ozs7O0FDeENBO0lBQ0ksa0JBQWtCO0lBQ2xCLGFBQWE7SUFDYixtQkFBbUI7SUFDbkIsc0JBQXNCO0lBQ3RCLFlBQVk7SUFDWixZQUFZO0lBQ1osb0NBQW9DO0lBQ3BDLHNCQUFzQjtJQUN0Qiw4Q0FBOEM7SUFDOUMsbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksMENBQTBDO0lBQzFDLFlBQVk7SUFDWixXQUFXO0lBQ1gseUJBQXlCO0lBQ3pCLDRDQUE0QztJQUM1QyxrQkFBa0I7QUFDdEI7O0FBRUE7SUFDSSwwQ0FBMEM7SUFDMUMsWUFBWTtJQUNaLFdBQVc7SUFDWCx5QkFBeUI7SUFDekIsNENBQTRDO0lBQzVDLGtCQUFrQjtBQUN0QixDOzs7O0FDN0JBO0lBQ0ksYUFBYTtJQUNiLHVCQUF1QjtJQUN2QixzQkFBc0I7QUFDMUI7O0FBRUE7SUFDSSxlQUFlO0FBQ25COztBQUVBO0lBQ0ksYUFBYTtJQUNiLDhCQUE4QjtJQUM5QixtQkFBbUI7SUFDbkIsa0JBQWtCO0lBQ2xCLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLDRDQUE0QztBQUNoRCxDOzs7O0FDcEJBO0lBQ0ksa0JBQWtCO0lBQ2xCLFlBQVk7SUFDWixvQ0FBb0M7SUFDcEMsa0JBQWtCO0lBQ2xCLDRDQUE0QztJQUM1QyxnQkFBZ0I7SUFDaEIsbUJBQW1CO0FBQ3ZCLEM7Ozs7QUNSQTtJQUNJLHVCQUF1QixFQUFFLHVCQUF1QjtJQUNoRDs7bUVBRXlEO0FBQzdEOztBQUVBO0lBQ0ksMEJBQTBCO0lBQzFCLDJEQUFxRDtBQUN6RDs7QUFFQTtJQUNJLGtDQUFrQztJQUNsQyxrQkFBa0I7SUFDbEIsbUNBQW1DO0lBQ25DLGtDQUFrQztBQUN0QyxDIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vaW5mb3JtYXRpb24tZGlmZnVzaW9uLWRlbW8vLi9zcmMvb3RoZXJzL2hlYWRlci9pbmRleC5jc3MiLCJ3ZWJwYWNrOi8vaW5mb3JtYXRpb24tZGlmZnVzaW9uLWRlbW8vLi9zcmMvb3RoZXJzL3BhbmVsL3BhbmVsLWNvbXBvbmVudC9jb3B5LXJpZ2h0L2luZGV4LmNzcyIsIndlYnBhY2s6Ly9pbmZvcm1hdGlvbi1kaWZmdXNpb24tZGVtby8uL3NyYy9vdGhlcnMvcGFuZWwvcGFuZWwtY29tcG9uZW50L3NsZWVwZXItY3JlYXRvci9pbmRleC5jc3MiLCJ3ZWJwYWNrOi8vaW5mb3JtYXRpb24tZGlmZnVzaW9uLWRlbW8vLi9zcmMvb3RoZXJzL3BhbmVsL3BhbmVsLWNvbXBvbmVudC9udW1iZXItd2VpZ2h0L2luZGV4LmNzcyIsIndlYnBhY2s6Ly9pbmZvcm1hdGlvbi1kaWZmdXNpb24tZGVtby8uL3NyYy9vdGhlcnMvcGFuZWwvcGFuZWwtY29tcG9uZW50L3N3aWNoZXIvaW5kZXguY3NzIiwid2VicGFjazovL2luZm9ybWF0aW9uLWRpZmZ1c2lvbi1kZW1vLy4vc3JjL290aGVycy9wYW5lbC9wYW5lbC1jb21wb25lbnQvc3RhcnQtcGF1c2UvaW5kZXguY3NzIiwid2VicGFjazovL2luZm9ybWF0aW9uLWRpZmZ1c2lvbi1kZW1vLy4vc3JjL290aGVycy9wYW5lbC9pbmRleC5jc3MiLCJ3ZWJwYWNrOi8vaW5mb3JtYXRpb24tZGlmZnVzaW9uLWRlbW8vLi9zcmMvb3RoZXJzL3JpZ2h0LWNsaWNrLWRlc2lnbmVyL2NsaWNrLXBhbmVsL2luZGV4LmNzcyIsIndlYnBhY2s6Ly9pbmZvcm1hdGlvbi1kaWZmdXNpb24tZGVtby8uL3NyYy9vdGhlcnMvcmlnaHQtY2xpY2stZGVzaWduZXIvaW5kZXguY3NzIiwid2VicGFjazovL2luZm9ybWF0aW9uLWRpZmZ1c2lvbi1kZW1vLy4vc3JjL290aGVycy9pbmRleC5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmhlYWRlci13cmFwIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIGhlaWdodDogNjZweDtcbiAgICBib3JkZXItYm90dG9tOiAxLjVweCBzb2xpZCByZ2JhKDE5MSwgMTkxLCAxOTEsIDAuMzEpO1xuICAgIHBhZGRpbmc6IDEwcHggMjBweCAxMHB4IDIwcHg7XG4gICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICBib3gtc2hhZG93OiAwcHggMnB4IDEwcHggcmdiYSgxOTEsIDE5MSwgMTkxLCAwLjMxKTtcbn1cblxuLmhlYWRlci13ZWItbGdvIHtcbiAgICB3aWR0aDogNTRweDtcbiAgICBoZWlnaHQ6IDU0cHg7XG4gICAgYm9yZGVyLXJhZGl1czogNHB4O1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMTBweCByZ2JhKDc3LCA3NywgNzcsIDAuNDM0KSA7XG59XG5cbi5oZWFkZXItd2ViLXRpdGxlIHtcbiAgICBmb250LXNpemU6IDMwcHg7XG4gICAgZm9udC1mYW1pbHk6ICdDb21tb25QaXhlbCcsIHNhbnMtc2VyaWY7XG4gICAgcGFkZGluZy1sZWZ0OiAyNXB4O1xufSIsIi5wYW5lbC1jb3B5cmlnaHQge1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBtYXJnaW4tdG9wOiBhdXRvO1xuICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICBmb250LWZhbWlseTogJ0NvbW1vblBpeGVsJywgc2Fucy1zZXJpZjtcbiAgICBmb250LXNpemU6IDVweDtcbn0iLCIucGFuZWwtc2xlZXBlci1jb2xvcixcbi5wYW5lbC1ib3JkZXItY29sb3Ige1xuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgICB3aWR0aDogMzAwcHg7XG4gICAgcGFkZGluZzogNXB4IDIwcHggNXB4IDIwcHg7XG59XG5cbi5wYW5lbC1zbGVlcGVyLW5hbWUsXG4ucGFuZWwtYm9yZGVyLW5hbWUge1xuICAgIGZvbnQtc2l6ZTogMjNweDtcbiAgICBmb250LWZhbWlseTogJ0NvbW1vblBpeGVsJywgc2Fucy1zZXJpZjtcbn1cblxuLnBhbmVsLXNsZWVwZXItZXhhbXBsZSxcbi5wYW5lbC1ib3JkZXItZXhhbXBsZSB7XG4gICAgZm9udC1zaXplOiAzMHB4O1xufVxuXG4ucGFuZWwtc2xlZXBlci1leGFtcGxlLFxuLnBhbmVsLWJvcmRlci1leGFtcGxlOmhvdmVyIHtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi5wYW5lbC1jb2xvci1waWNrZXIge1xuICAgIHBvc2l0aW9uOiBmaXhlZDtcbiAgICB0b3A6IDIwcHg7XG4gICAgei1pbmRleDogMTtcbn1cblxuLnBhbmVsLWNyZWF0ZS1idXR0b24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICBmb250LWZhbWlseTogJ0NvbW1vblBpeGVsJywgc2Fucy1zZXJpZjtcbn0iLCIucGFuZWwtY2FzY2FkZS1wcm9iYWJpbGl0eSB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIG1hcmdpbi10b3A6IDEwcHg7XG59XG5cbi5wYW5lbC1jYXNjYWRlLW5hbWUge1xuICAgIGZvbnQtZmFtaWx5OiAnQ29tbW9uUGl4ZWwnLCBzYW5zLXNlcmlmO1xuICAgIG1hcmdpbi1sZWZ0OiAtMjBweDtcbiAgICBtYXJnaW4tcmlnaHQ6IDEwcHg7XG59IiwiLnBhbmVsLXN3aWNoZXIge1xuICAgIG1hcmdpbi10b3A6IDEwcHg7XG4gICAgZm9udC1mYW1pbHk6ICdDb21tb25QaXhlbCcsIHNhbnMtc2VyaWY7XG59IiwiLnBhbmVsLXN0YXJ0LXBhdXNlLXdyYXAge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIHdpZHRoOiAzMDBweDtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG4ucGFuZWwtc3RhcnQtcGF1c2UtbmFtZSB7XG4gICAgbWFyZ2luLXRvcDogMzBweDtcbiAgICBmb250LXNpemU6IDYwcHg7XG4gICAgaGVpZ2h0OiA2MHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDEwMDBweDtcbn1cblxuLnBhbmVsLXN0YXJ0LXBhdXNlLW5hbWU6aG92ZXIge1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICBhbmltYXRpb24tbmFtZTogc3RhcnRJY29uO1xuICAgIGFuaW1hdGlvbi1kdXJhdGlvbjogMC41cztcbn1cblxuQGtleWZyYW1lcyBzdGFydEljb24ge1xuICAgIDAlIHtcbiAgICAgICAgZm9udC1zaXplOiA2MHB4O1xuICAgIH1cblxuICAgIDcwJSB7XG4gICAgICAgIGZvbnQtc2l6ZTogODBweDtcbiAgICB9XG5cbiAgICAxMDAlIHtcbiAgICAgICAgZm9udC1zaXplOiA2MHB4O1xuICAgIH1cbn1cblxuLnBhbmVsLXN0YXJ0LXBhdXNlLXJlc2V0IHtcbiAgICBtYXJnaW4tbGVmdDogYXV0bztcbiAgICBmb250LWZhbWlseTogJ0NvbW1vblBpeGVsJywgc2Fucy1zZXJpZjtcbiAgICBtYXJnaW4tcmlnaHQ6IDEycHg7XG4gICAgbWFyZ2luLXRvcDogN3B4O1xufVxuXG4iLCIucGFuZWwtd3JhcCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIHdpZHRoOiAzMDBweDtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiKDI1NSwgMjU1LCAyNTUpO1xuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gICAgYm94LXNoYWRvdzogMHB4IDhweCAxMHB4IHJnYmEoNTgsIDU4LCA1OCwgMC41KTtcbiAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xufVxuXG4ucGFuZWwtc2hvcnQtc3BlcmF0ZS1saW5lIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDIwOCwgMjA4LCAyMDgsIDAuNSk7XG4gICAgd2lkdGg6IDI1MHB4O1xuICAgIGhlaWdodDogMXB4O1xuICAgIG1hcmdpbjogMTBweCAwcHggMTBweCAwcHg7XG4gICAgYm94LXNoYWRvdzogMHB4IDRweCAycHggcmdiYSgwLCAwLCAwLCAwLjI0OSk7XG4gICAgYm9yZGVyLXJhZGl1czogMnB4O1xufVxuXG4ucGFuZWwtbG9uZy1zcGVyYXRlLWxpbmUge1xuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMjA4LCAyMDgsIDIwOCwgMC41KTtcbiAgICB3aWR0aDogMzAwcHg7XG4gICAgaGVpZ2h0OiAxcHg7XG4gICAgbWFyZ2luOiAxMHB4IDBweCAxMHB4IDBweDtcbiAgICBib3gtc2hhZG93OiAwcHggNHB4IDJweCByZ2JhKDAsIDAsIDAsIDAuMjQ5KTtcbiAgICBib3JkZXItcmFkaXVzOiAycHg7XG59IiwiLnJpZ2h0LWNsaWNrLWRlc2lnbmVyLWNvbnRlbnQge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbn1cblxuLnJpZ2h0LWNsaWNrLWRlc2lnbmVyLWNvbnRlbnQ6aG92ZXIge1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuLnJpZ2h0LWNsaWNrLWRlc2lnbmVyLXNlbGVjdGlvbiB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBwYWRkaW5nLWxlZnQ6IDEwcHg7XG4gICAgcGFkZGluZy1yaWdodDogMTBweDtcbn1cblxuLnJpZ2h0LWNsaWNrLWRlc2lnbmVyLXNlbGVjdGlvbjpob3ZlciB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgxOTcsIDIwNiwgMjEzLCAwLjQ3NSk7XG59IiwiLnJpZ2h0LWNsaWNrLWRlc2lnbmVyLXdyYXAge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMjAwcHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiKDIzOSwgMjQ0LCAyNDcpO1xuICAgIGJvcmRlci1yYWRpdXM6IDRweDtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDVweCByZ2JhKDAsIDAsIDAsIDAuMzE5KTtcbiAgICBwYWRkaW5nLXRvcDogNXB4O1xuICAgIHBhZGRpbmctYm90dG9tOiA1cHg7XG59IiwiQGZvbnQtZmFjZSB7XG4gICAgZm9udC1mYW1pbHk6IFwiaWNvbmZvbnRcIjsgLyogUHJvamVjdCBpZCAyNTYwMTAxICovXG4gICAgc3JjOiB1cmwoJy4vY29tbW9uL2ljb24vaWNvbmZvbnQud29mZjInKSBmb3JtYXQoJ3dvZmYyJyksXG4gICAgICAgICB1cmwoJy4vY29tbW9uL2ljb24vaWNvbmZvbnQud29mZicpIGZvcm1hdCgnd29mZicpLFxuICAgICAgICAgdXJsKCcuL2NvbW1vbi9pY29uL2ljb25mb250LnR0ZicpIGZvcm1hdCgndHJ1ZXR5cGUnKTtcbn1cblxuQGZvbnQtZmFjZSB7XG4gICAgZm9udC1mYW1pbHk6ICdDb21tb25QaXhlbCc7XG4gICAgc3JjOiB1cmwoJy4vY29tbW9uL2ljb24vQ09NTVBfX18uVFRGJykgZm9ybWF0KCd3b2ZmJyk7XG59XG5cbi5pY29uZm9udCB7XG4gICAgZm9udC1mYW1pbHk6IFwiaWNvbmZvbnRcIiAhaW1wb3J0YW50O1xuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcbiAgICAtd2Via2l0LWZvbnQtc21vb3RoaW5nOiBhbnRpYWxpYXNlZDtcbiAgICAtbW96LW9zeC1mb250LXNtb290aGluZzogZ3JheXNjYWxlO1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/