@font-face {
    font-family: "iconfont"; /* Project id 2560101 */
    src: url('./common/icon/iconfont.woff2?t=1545807318834') format('woff2'),
         url('./common/icon/iconfont.woff?t=1545807318834') format('woff'),
         url('./common/icon/iconfont.ttf?t=1545807318834') format('truetype');
}

@font-face {
    font-family: 'CommonPixel';
    src: url('./common/icon/COMMP___.TTF') format('woff');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}